.vscode
.pytest_cache
__pycache__
*.pyc
.ansible
tests/output
cpu_healthcheck_integration_test_result_ios.log
cpu_healthcheck_integration_test_result_iosxr.log
cpu_healthcheck_integration_test_result_nxos.log
crashfiles_healthcheck_inte_test_result_ios.log
crashfiles_healthcheck_inte_test_result_nxos.log
filesystem_healthcheck_inte_test_result_iosxr.log
filesystem_healthcheck_inte_test_result_ios.log